<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testng">
  <test thread-count="5" name="Test">
    <classes>
      <class name="demobanktest.gurutest"/>
        <class name="demobanktest.newbanktest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->